* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-size: 16px;   
} 
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 500px;
    width: 45rem;
}
.grid-column {
    background-color:hsla(0, 0%, 100%,1);
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 1.5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }
.flex-column h1 {
    color: hsl(179, 62%, 43%);
     padding-top: 3rem;
    padding-left:3rem ;
    padding-bottom: 1rem; 
} 
    .flex-column h2 {
        color:hsl(71, 73%, 54%);
        padding-left: 3rem;
    }
.flex-column p {
    color: hsl(218, 22%, 67%);
    margin-left: 3rem;
}
.flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: hsla(179, 62%, 43%, 1);
    min-height: 250px;
    border-bottom-left-radius: .5rem;
}
.flex-column-left h2 {
    color: #ffff;
    padding-bottom: 1rem;
    margin-left: 3rem;
}
.flex-column-left h3{
color: #ffff;
margin-left: 3rem;
margin-bottom: 1rem;
font-size: 1.5rem;

}
.flex-column-left span {
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.5;
}
.flex-column-left p {
    color: #ffffff;
    margin-left: 3rem;
    font-size: 1rem;
}
.btn {
    display: block;
    text-decoration: none;
    margin-top: 2rem;
    color: #ffff;
    background: #c0df33;;
    text-align: center;
    padding: 1rem 5.5rem;
    margin-left: 3rem;
    border-radius: .5rem;
}
.btn:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3)
}
.flex-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: hsla(179, 62%, 43%,.7);
    min-height: 250px;
    border-bottom-right-radius: .5rem;
    
}
.flex-column-right h2 {
    color: #ffff;
padding-bottom: 1.6rem;
margin-left: 3rem;
}
.flex-column-right li {
    list-style: none;
    margin-left: 3rem;
    color: #ffff;
    opacity: .5;
    mix-blend-mode: normal
}
.list-item-2 {
    margin-right: 4rem;
}
.list-item-3 {
    margin-right: 5rem;
}
.list-item-4 {
    margin-right: .5rem;
}
.list-item-5 {
    margin-right: 4.2rem;
}
.list-item-5 {
    margin-right: 4.2rem;
}
.list-item-6 {
    margin-right: 5rem;
}
.list-item-7 {
    margin-right: 2.3rem;
}
