*{box-sizing: border-box;}
   
body {
    margin: 0;
   }
    .full-screen-reader {
    height: 100vh;
    background-image: url(img/cuisine.jpeg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position-y:10%;
    position: relative;
   } 
   .nav-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2522;
    padding: .5rem 1rem;
   }
   .logo {
    border-radius: 50%;
   }
   .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
   }
   .nav-list a {
       text-decoration: none;
       margin-left: 1rem;
       color: white;
   }
   .curriculum {
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    outline:none;
    cursor: pointer;
    padding: .2em .1em;
    border-radius: .3em;
    margin-right: 1rem;
   }
   .curriculum:hover, .curriculum:focus {
    background-color:hsl(0, 0%, 80%); 
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
   }
   .preturi {
        background-color: hsl(0, 0%, 90%);
        border: 1px solid hsl(0, 0%, 70%);
        outline: none;
        cursor: pointer;
        padding: .2em .1em;
        border-radius: .3em;
   }
   .preturi:hover, .preturi:focus {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
   }
   .contact {
        background-color: hsl(0, 0%, 90%);
        border: 1px solid hsl(0, 0%, 70%);
        outline: none;
        cursor: pointer;
        padding: .2em .1em;
        border-radius: .3em;
        margin-left: 1rem;
   }
     
   .contact:hover, .contact:focus {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
   }
   .title {
font-size: 3rem;
margin: 0;
   }
   .subtitle {
font-size: 1.5rem;
margin-top: .3rem;
margin-bottom: 1rem;
   }
   .detalii {
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 10000px;
    padding: .25em 1em;
    text-decoration: none;
    list-style: none;
    border: none;
    cursor: pointer;
   }
   .detalii:hover,
   .detalii:focus {
    background-color: hsl(200, 100%, 40%);
   }
   .scroll-down {
    position: absolute;
    bottom: 1rem;
    width: 30px;
   }
   .section {
      padding: 2rem;
   }
   .section-title {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 2rem;
      text-align: center;
      color: black;
   }
   .curriculum-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 450px));
      justify-content: center;
      row-gap: 10px;
      column-gap: 50px;
   }
   .curriculum-grid-item {
      display: flex;
      align-items: center;
   }
   .curriculum-grid-item img {
      width: 70px;
      margin-right: 1rem;
   }
   .section-accent {
      background-color: #0af;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .free-title {
      color: white;
      margin: 0;
      font-size: 2.5rem;
      text-transform: uppercase;
   }
   .free-sub-title {
      color: white;
      max-width: 300px;
   }
   .form{
max-width: 900px;
margin: 0 auto;
   }
   .form label{
color: black;
font-weight: bold;
   }
   .form input,
   .form textarea{
width: 100%;
margin-top: .25rem;
margin-bottom: .75rem;
outline: none;
border: 1px solid #1b2522  
padding: .5em;
color: inherit;
font-family:Cambria;
   }
   .form textarea {
      resize: vertical;
      min-height: 75px;
      max-height: 200px;
   }
   .form input:focus,
   .form textarea:focus {
      border-color: #0af;
   }
   .btn-container {
text-align: end;
   }
   .btn {
border-radius: .3em;
background-color: hsl(200, 100%, 50%);
   }