
* {
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    background-color: hsl(185, 75%, 39%);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-position: right 45vw bottom 40vh, left 45vw top 50vh;
    background-repeat: no-repeat, no-repeat; 
}
.container {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
 
}
.big-pattern-img {
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}
.profile-image {
    border-radius: 50%;
    border: .4rem solid #ffff;
    position: absolute;
    top: 32%;
}
.container h1 {
    margin-top: 4rem;
    color: hsl(229, 23%, 23%);
}
.container span, .container p {
    color: hsl(227, 10%, 46%);
}
.underline {
  height: 0.1rem;
  background:lightgray;
  width: 100%;
}
.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 70px);
     gap: 3rem;
     height: 9vh;
     font-weight: 700;
     color:hsl(229, 23%, 23%);
    letter-spacing: .1rem;
    text-align: center;
    place-items: center;
    
}
.info {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
