* { 
    box-sizing:  border-box;
}
body {
    font-family: 'Outfit',sans-serif;
    background-color: hsl(212, 
    45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius:2rem ;
    box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
    width: 400px;
}
img
{
width: 100%;
padding: 2rem;
border-radius: 3rem;
}
h1 {
    color: hsl(218, 44%, 22%);
    margin: 0 3rem;
    font-size: 25px;
    text-align: center;
}
p {
 
    color: hsl(220, 15%, 55%);
    margin: 1rem 1rem;
    font-size: 22px;
    text-align: center;
}
   
