* {
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color:hsl(217, 54%, 11%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5rem;
}
.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    box-shadow:0px 0px 30px 7px rgba(0, 0, 0, 0.42);
    width: 350px;
}
.overlay {
     position: relative; 
    background-color: rgba(0, 255, 247, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.7rem;
    height: 18.7rem;
    border-radius: 1rem;
    opacity: 0; 
    transition: 0.15s ease-in-out;
    margin-left: 1.6rem;
    margin-top: 1rem;
    
}
.overlay img {
    height: 4rem;
    width: 4rem;
}
.overlay:hover {
    cursor: pointer;
    opacity: 1;
}
.equilibrium-image {
    position: absolute;
    width: 100%;
    border-radius: 1rem;
    width: 300px;
   margin-left: 1.5rem;
   margin-top: 1rem;
}
h1 {
    color: hsl(0, 0%, 100%);
    margin-left: 1rem;
}
.equilibrium-paragraph {
    color:hsl(215, 51%, 70%) ;
    font-size: 18px; 
    margin-left: 1rem;    
}
.price-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid #777
}
.eth {
   margin-right: 6rem;
    color:hsl(178, 100%, 50%);
}
.days {
    color:hsl(215, 51%, 70%);
}
.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-section img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}
.footer-section p {
    margin-right: 5rem;
    color:white;
}
.footer-section span {
    color:hsl(215, 51%, 70%);
}
