* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
.main-bg {
    display: flex;
    width: 100vw;
    max-width: 144rem;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    gap: 2%;
}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 70vw;
    display: flex;
    gap: 2%;
    height: 30rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.details {
    width: 50%;
}
.heading {
    width: 100%;
   
}
.header-image {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    display: block;
    

}

.wrap {
    position: relative;
    width: 50%;
}

.wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsla(277, 64%, 61%, 0.6);
    z-index: 999;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.details h1 {
    color: hsl(0, 0%, 100%);
    margin: 3rem 3rem;
    font-size: 2rem;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.container p {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 1rem 3rem;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
    padding-top: 5rem;
    padding-right: 4rem;
    }


.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    padding-bottom: 1rem;
    font-size: 1.5rem;
   
}
    

.stats {
    color: hsl(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    padding-top: .5rem;
    font-size: 1rem;
  
}
/* Media queries */
@media (max-width:1200px){
    .details{
        width: 60%;
    }
    .information{
        padding-right: 1rem;
    }
}
@media (max-width:900px) {
    .details {
            width: 70%;
}
.information {
    gap: 1.5rem;
}
.wrap {
    width:60%;
}
}
@media (max-width:660px){
    
.container {
    height: 75vh;
     text-align: center; 
    flex-direction: column-reverse;
    margin-top: 12rem;
 

}
.wrap {
    width: 100%;
  
   
}
.header-image{
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0;
}
.details h1 {
    margin-right: 5rem;
    width: 50vw;
}
.container p {
    width: 50vw;
    margin-right: 1rem;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-left: 7rem;
   padding: 0;
   gap: .5rem;
}


}
